{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "container">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
            <div class="form-floating">
                <input type="text" class="form-control" id="input_username" placeholder="Username" name="username">
                <label for="input_username">Username</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="input_password" placeholder="Password" name="password">
                <label for="input_password">Password</label>
            </div> 
            <input class="btn login_btn" type="submit" value="Login">           
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}